/* Show it's not fixed to the top */

header {
  background-color: rgba(0,46,255,255);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative; /* Agrega posición relativa para el header */
}
header img {
  margin-bottom: 10px; /* Espacio entre el logotipo y el texto */
  display: inline-block; /* Para que el logotipo y el texto estén en la misma línea */
  vertical-align: middle; /* Alinea verticalmente */
}
header h1 {
  margin: 0;
  display: inline-block; /* Para que el logotipo y el texto estén en la misma línea */
  vertical-align: middle;
  font-family: 'Barlow', Arial, sans-serif;
  font-weight: 600; /* Alinea verticalmente */
}


.footer {
  background-color: #333333; /* Color medio negro */
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100%;
}

.dropdown-menu li{
  position:relative;
}
.dropdown-menu .submenu {
  display:none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu>li:hover>.submenu{
  display: block;
}

.dropdown-menu .submenu-left {
  right: 100%;
  left: auto;
}

@media(max-width:800px){
  .dropwdown-menu .submenu{
    left: 25%;
    top: 0px;
  }
  .dropdown-menu .multi-menu{
    left:95%;
  }
  .dropdown-menu .submenu-left{
    left: 50%;
  }
}
.menu-cont {
  max-width: 400px; /* Cambia este valor según lo que prefieras */
  margin: 0 auto; /* Para centrar horizontalmente el contenedor */
  margin-left: 50px;
}
 
 /* Cambiar el color del texto a blanco */
 .navbar-nav .nav-link {
  color: #ffffff !important; /* Color blanco */
}

/* Cambiar el color al pasar el mouse por encima */
.navbar-nav .nav-link:hover {
  color: #ADD8E6 !important; /* Color celeste */
}