/* Show it's not fixed to the top */

header {
  background-color: rgba(0,46,255,255);
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative; /* Agrega posición relativa para el header */
}
header img {
  margin-bottom: 10px; /* Espacio entre el logotipo y el texto */
  display: inline-block; /* Para que el logotipo y el texto estén en la misma línea */
  vertical-align: middle; /* Alinea verticalmente */
}
header h1 {
  margin: 0;
  display: inline-block; /* Para que el logotipo y el texto estén en la misma línea */
  vertical-align: middle;
  font-family: 'Barlow', Arial, sans-serif;
  font-weight: 600; /* Alinea verticalmente */
}


.dropdown-menu li{
  position:relative;
}
.dropdown-menu .submenu {
  display:none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu>li:hover>.submenu{
  display: block;
}

.dropdown-menu .submenu-left {
  right: 100%;
  left: auto;
}

@media(max-width:800px){
  .dropwdown-menu .submenu{
    left: 25%;
    top: 0px;
  }
  .dropdown-menu .multi-menu{
    left:95%;
  }
  .dropdown-menu .submenu-left{
    left: 50%;
  }
}
.menu-cont {
  max-width: 400px; /* Cambia este valor según lo que prefieras */
  margin: 0 auto; /* Para centrar horizontalmente el contenedor */
  margin-left: 50px;
}
 
 /* Cambiar el color del texto a blanco */
 .navbar-nav .nav-link {
  color: #ffffff !important; /* Color blanco */
}

/* Cambiar el color al pasar el mouse por encima */
.navbar-nav .nav-link:hover {
  color: #ADD8E6 !important; /* Color celeste */
}

.mi-clase-select {
  /* Estilos para el select */
  width: 100%; /* O cualquier otro ancho deseado */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mi-clase-boton {
  /* Estilos para el botón */
  font-size: 1rem; /* Tamaño de fuente */
  padding: 10px 20px; /* Padding vertical y horizontal */
  border-radius: 5px; /* Borde redondeado */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Quita el borde */
}

.mi-clase-boton:hover {
  /* Estilos para cuando el mouse está sobre el botón */
  background-color: #0056b3; /* Cambia el color de fondo */
  cursor: pointer; /* Cambia el cursor a una mano */
}

.main-container { /* o body si prefieres aplicarlo directamente */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* styles.css */
.form-input {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho total */
}

.form-select {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.form-button {
  background-color: #005CFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.form-label {
  margin-bottom: 5px;
  display: block;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#content {
  flex: 1 0 auto;
  padding-bottom: 20px; /* Ajusta este valor según la separación deseada */
}

.footer {
  flex-shrink: 0;
  width: 100%;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333333; /* Color medio negro */
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
