/* Estilos Personalizados para el Formulario */
.form-input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 20px; /* Añade un espacio entre los campos del formulario */
}

.form-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Estilo específico para el campo de texto 'notas' */
textarea.form-input {
    width: 100%;
    height: 150px; /* Altura inicial */
    resize: vertical; /* Permite al usuario ajustar la altura verticalmente */
    /* No es necesario añadir un margen inferior aquí si ya se aplica a .form-input */
}

