{% extends 'fondo.html' %}
{% load static %}

    <title>{% block title %}Sesion cerrada{% endblock %}</title>

<body>
    {% block content %}
    <div class="flex justify-center m-4 py-4">
        <img src="/static/logo_entel.svg" alt="" width="100" height="75">
    </div>
    <!--
// v0 by Vercel.
// https://v0.dev/t/qeujZ1tYEtT
-->
    <div class="flex flex-col items-center justify-center w-full min-h-[400px] gap-2 text-center">
        <div class="rounded-lg border bg-card bg-blue-100 text-card-foreground py-6 px-6" data-v0-t="card">
            <div class="space-y-4 text-center mx-2">
                <h1 class="text-3xl font-bold tracking-tighter text-black sm:text-4xl">Gracias Totales</h1>
                <p class="text-black">
                    Nos vemos
                </p>
                <p class="text-black">
                    Si lo siguiente se ve feo, funciono el logout: {{request.user}}
                </p>
                <a class="inline-flex items-center justify-center text-sm font-medium h-10 px-4 py-2 w-full bg-[#FF3D00] text-white rounded-full"
                href="{% url 'index' %}">Volver</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>