{% extends "base.html" %}

{% block content %}
<div class="flex flex-col justify-center items-center space-y-4">
    <h1 class="text-2xl font-bold text-[#005CFF]">Editar Solicitud</h1>
    <form method="post"  enctype="multipart/form-data"> {% csrf_token %}
        <input type="hidden" name="tipo_solicitud" value="{{tipo_formulario}}">
        {% for campo in formulario %}
        <div class="space-y-2">
            <label class="text-sm font-medium" for="{{campo.id_for_label}}">
                {{campo.label}}
            </label>
            {{campo}}
        </div>
        {% endfor %}
        <button
            class="inline-flex items-center justify-center text-sm font-medium h-10 px-4 py-2 my-4 bg-[#FF3D00] text-white rounded-full"
            type="submit">
            Guardar Cambios
        </button>
    </form>
</div>
{% endblock %}