{% extends "base.html" %}

{% block content %}
<div class="flex flex-col justify-center items-center space-y-4">
    <h1 class="text-2xl font-bold text-[#005CFF]">Datos de Solicitud</h1>
    <ul>
        <li>
            <label class="text-sm font-medium" for="nombre">Nombre</label>
                <input class="flex rounded-md border border-input px-3 py-2 text-sm"
                    id="nombre" name="nombre" value="{{solicitudUsuario.nombre_sol}}" disabled="" type="text">
        </li>
        <li>
            <label class="text-sm font-medium" for="tipo">Tipo</label>
                <input class="flex rounded-md border border-input px-3 py-2 text-sm"
                    id="tipo" name="tipo" value="{{solicitudUsuario.tipo_sol}}" placeholder="Jorge Perez" disabled="" type="text">
        </li>
        <li>
            <label class="text-sm font-medium" for="desc">Descripción</label>
                <input class="flex rounded-md border border-input px-3 py-2 text-sm"
                    id="desc" name="desc" value="{{solicitudUsuario.descripcion_sol}}" disabled="" type="text">
        </li>
        <li>
            <label class="text-sm font-medium" for="fecha">Fecha de Creación</label>
                <input class="flex rounded-md border border-input px-3 py-2 text-sm"
                    id="fecha" name="fecha" value="{{solicitudUsuario.created_at}}" disabled="" type="text">
        </li>
    </ul>
</div>
{% endblock %}