{% extends "base.html" %}

{% block content %}
<div class="flex flex-col justify-center items-center space-y-4">
    <h1 class="text-2xl font-bold text-[#005CFF]">Casos de Uso</h1>
    <!--
// v0 by Vercel.
// https://v0.dev/t/5NcWwZWEvFJ
-->
<div class="flex flex-col justify-center items-center space-y-4">
    <form method="post"> {% csrf_token %}
        {{formulario}}
        <button
            class="inline-flex items-center justify-center text-sm font-medium h-10 px-4 py-2 my-4 bg-[#FF3D00] text-white rounded-full"
            type="submit">
            Guardar Cambios
        </button>
    </form>
</div>
</div>
{% endblock %}