{% extends "base.html" %}

{% block content %}
<br><br>
<div class="flex flex-col justify-center items-center space-y-4">
    <div class="bg-dark text-light p-4 rounded">
        <h1 class="text-2xl font-bold text-[#005CFF]">Estado de Solicitudes</h1>
        <hr class="bg-[#005CFF]">
        <div class="w-full overflow-x-auto">
            <table class="w-full caption-bottom text-sm table-dark">
                <thead>
                    <tr>
                        <th class="h-12 px-4 text-left align-middle font-medium w-[100px]">Estado</th>
                        <th class="h-12 px-4 text-left align-middle font-medium">Solicitud</th>
                        <th class="h-12 px-4 text-left align-middle font-medium">Fecha de Solicitud</th>
                        <th class="h-12 px-4 align-middle font-medium w-[160px] text-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if solicitudes %}
                        {% for solicitud in solicitudes %}
                            <tr class="border-t border-gray-700">
                                <td class="p-4 align-middle font-medium">{{solicitud.estado_sol}}</td>
                                <td class="p-4 align-middle">{{solicitud.tipo_sol}}</td>
                                <td class="p-4 align-middle">{{solicitud.created_at }}</td>
                                <td class="p-4 align-middle text-center">
                                    {% if request.user.is_staff %}
                                        <button class="btn btn-primary" onclick="location.href='{% url 'editarSolicitud' pk=solicitud.id_sol %}'">
                                            <i class="fas fa-pencil-alt"></i> Editar
                                        </button>
                                    {% endif %}
                                    <button class="btn btn-danger" onclick="location.href='{% url 'borrarSolicitud' pk=solicitud.id_sol %}'">
                                        <span class="fas fa-trash-alt"></span> Borrar
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}