{% extends "fondoLogin.html" %}
{% load static %}

{% block content %}

<div class="formulario">
    <h1>Login {{ request.tenant.nombre_empresa }}</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <!-- Campo email añadido -->
        <div class="username">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required placeholder="jperez@entel.cl">
            {% if errorEmail %}
                <p class="error-message">{{ errorEmail }}</p>
            {% endif %}
        </div>

        <!-- Campo contraseña -->
        <div class="username">
            <label for="clave">Contraseña</label>
            <input type="password" name="clave" id="clave" required placeholder="********">
                {% if errorClave %}
                    <p class="error-message">{{ errorClave }}</p>
                {% endif %}
        </div>

        <div class="recordar">¿Olvidó su contraseña?</div>
        <input type="submit" value="Enviar">
        <div class="registrarse">
            <a href="#">Registrarse</a>
        </div>
    </form>
</div>
{% endblock content %}