{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex justify-center m-4 py-4">
        <img src="{% static '/logo_entel.svg' %}" alt="">
    </div>

    <!--
// v0 by Vercel.
// https://v0.dev/t/laW9h7qa69X
-->
    <div class="flex items-center m-4 justify-center">
        <div class="w-full max-w-md space-y-4">
            <div class="rounded-lg border bg-card text-card-foreground py-6 px-6" data-v0-t="card">
                <div class="flex flex-col space-y-1.5 py-6 px-8 text-center">
                    <h3 class="text-4xl font-bold text-[#005CFF]">Acceso API</h3>
                    <h3 class="text-4xl font-bold text-[#005CFF]">{{request.tenant.nombre_empresa}}</h3>
                </div>
                <form method="post" class="py-6 px-6 space-y-4"> {% csrf_token %}
                    <div class="space-y-2">
                        <label class="text-sm font-medium" for="email">Email</label>
                        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm"
                            id="email" name="email" placeholder="jperez@entel.cl" required="" type="email">
                            {% if errorEmail %}
                                <p class="text-sm font-semibold text-[#E8200C]">{{ errorEmail }}</p>
                            {% endif %}
                    </div>

                    <div class="space-y-2">
                        <label class="text-sm font-medium" for="clave">Contraseña</label>   
                        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm"
                            id="clave" name="clave" placeholder="********" required="" type="password">
                        {% if errorClave %}
                            <p class="text-sm font-semibold text-[#E8200C]">{{ errorClave }}</p>
                        {% endif %}
                    </div>
                    <button
                        class="inline-flex items-center justify-center text-sm font-medium h-10 px-4 py-2 w-full bg-[#FF3D00] text-white rounded-full"
                        type="submit">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>