<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesion cerrada</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="flex justify-center m-4 py-4">
        <img src="/static/logo_entel.svg" alt="">
    </div>
    <!--
// v0 by Vercel.
// https://v0.dev/t/qeujZ1tYEtT
-->
    <div class="flex flex-col items-center justify-center w-full min-h-[400px] gap-2 text-center">
        <div class="space-y-4 text-center mx-2">
            <h1 class="text-3xl font-bold tracking-tighter text-[#005CFF] sm:text-4xl">Era</h1>
            <p class="text-gray-500 dark:text-gray-400">
                Nos vemos
            </p>
            <p class="text-gray-500 dark:text-gray-400">
                Si lo siguiente se ve feo, funciono el logout: {{request.user}}
            </p>
        </div>
    </div>
</body>

</html>