{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function(){

        $("#nuevaSolicitudForm").validate({
            rules:{
                "tipo-solicitud": {
                    required: true
                },
                accion: {
                    required: true
                },
                correo: {
                    required: true,
                    email: true
                },
                correo_sol: {
                    required: true,
                    email: true
                },
                fecha: {
                    required: true
                }
            },
            messages:{
                "tipo-solicitud": {
                    required: 'Seleccione un tipo de solicitud'
                },
                accion: {
                    required: 'Ingrese una acción'
                },
                correo: {
                    required: 'Ingrese un correo',
                    email: 'Ingrese un correo válido'
                },
                correo_sol: {
                    required: 'Ingrese un correo de solicitante',
                    email: 'Ingrese un correo válido'
                },
                fecha: {
                    required: 'Seleccione una fecha'
                }
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "tipo-solicitud") {
                    error.appendTo("#tipo-solicitud-error");
                } else {
                    error.appendTo(element.parent().next());
                }
            }
        });

    });
</script>
<br><br><br><br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-dark text-light p-4 rounded">
            <div class="nueva-solicitud-container">
                <h3>Nueva Solicitud:</h3>
                <form id="nuevaSolicitudForm">
                    <div class="mb-3">
                        <label for="tipo-solicitud" class="form-label">Tipo de Solicitud:</label>
                        <select class="form-control" id="tipo-solicitud" name="tipo-solicitud" required>
                            <option value="">-- Seleccione --</option>
                            <option value="ISE VPN">ISE VPN</option>
                            <option value="IOC AUTOMATICO">IOC AUTOMATICO</option>
                            <option value="CAMBIO DE RUTA">CAMBIO DE RUTA</option>
                        </select>
                    </div>
                    <div id="campos-dinamicos" class="mb-3">
                        <!-- Aquí se cargarán los campos dinámicos -->
                    </div>
                    <div class="form-group">
                        <br>
                        <input type="submit" value="Enviar" id="enviar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Event listener para el cambio en el tipo de solicitud
    document.getElementById('tipo-solicitud').addEventListener('change', function() {
        var tipoSeleccionado = this.value;
        mostrarCamposDinamicos(tipoSeleccionado);
    });

    // Función para mostrar los campos dinámicos según el tipo de solicitud seleccionado
    function mostrarCamposDinamicos(tipo) {
        var camposDinamicos = document.getElementById('campos-dinamicos');
        camposDinamicos.innerHTML = ''; // Limpiar campos dinámicos anteriores
        
        if (tipo === 'ISE VPN') {
            camposDinamicos.innerHTML += `
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Acción:</label>
                    <input type="text" class="form-control" id="accion" name="accion" required>
                </div>
                <div class="mb-3">
                        <label for="correo" class="form-label">Correo de usuario:</label>
                        <input type="email" class="form-control" id="correo" name="correo" required
                               placeholder="edo@gmail.com">
                        <div id="correoError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de solicitud:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                    <div id="fechaError" class="text-danger"></div>
                </div>`;
        } else if (tipo === 'IOC AUTOMATICO') {
            camposDinamicos.innerHTML += `
                <div class="input-group mb-3">
                            <label>Adjunto (si se requiere):</label>
                            <input type="file" id="adjunto" name="adjunto">
                        </div>
                <div class="mb-3">
                        <label for="correo" class="form-label">Correo de solicitante:</label>
                        <input type="email" class="form-control" id="correo_sol" name="correo_sol" required
                               placeholder="edo@gmail.com">
                        <div id="correoError" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de solicitud:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                    <div id="fechaError" class="text-danger"></div>
                </div>`;
        } else if (tipo === 'CAMBIO DE RUTA') {
            camposDinamicos.innerHTML += `
            <div class="mb-3">
                    <label for="descripcion" class="form-label">Gateway:</label>
                    <input type="text" class="form-control" id="gateway" name="gateway" required>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Interfaz de salida:</label>
                    <input type="text" class="form-control" id="interfaz" name="interfaz" required>
                </div>
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de solicitud:</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                    <div id="fechaError" class="text-danger"></div>
                </div>`;
        }
        // Puedes agregar más condiciones para otros tipos de solicitud aquí
    }
</script>
{% endblock %}